header h1 {
    text-align:center;
}

nav {
    display:flex;
    flex-direction:column;
}
.container {
    display:flex;
    border:5px solid red;
    justify-content: center;
    align-content:center;
}

.split {
    display:flex;
    justify-content:space-between;
}


.sketchpad {
    border:1px solid black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.sketchBox {
    
}
