header {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}


nav {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
.container {
    display:flex;
    justify-content: center;
    align-content:center;
}

.split {
    display:flex;
    justify-content:space-between;
    gap:5vh;
}


.sketchpad {
    border:1px solid black;
    display:grid;
    grid-template-rows: repeat(16,1fr);
    grid-template-columns: repeat(16,1fr);
    width:500px;
    height:500px;
}

nav button {
    padding:20px;
}